{{#each this}}
<li>
    <article class="countries">
        <h2 class="name">{{name}}</h2>
        <div class="information">
            <h3 class="capital">Capital: {{capital}}</h3>
            <h3 class="population">Population: {{population}}</h3>
            <h3 class="languages">Languages: {{languages}}</h3>
        </div>
        <img src="{{flag}}" alt=" " class="flag__image" />
    </article>
</li>
{{/each}}